<title>FirstTime - Dashboard</title>
</head>

<%- include('partials/header', { Name: "Dashboard" }) %>
    <div class="main" style="justify-content: flex-start;">
        <div id="userlink">
            <span>
                <p>Your Link: </p><a>
                    <%=user.username%>
                </a>
            </span>
            <button id="copyLink" class="button lbtns">Copy</button>
        </div>

<section>
    <h1>My messages</h1>

    <div class="messages">
        
        <p>No messages yet... </p>
        <p>Share your link with your friends</p>
        
    </div>
    <div id="controls">
        <div>
            <p id="loadMore">Loading...</p>
          </div>
    </div>
    <div class="loading">
        
      </div>
</section>
    </div>

    <script src="/js/dashboard.js"></script>