<title>FirstTime - Stats</title>
</head>

  <%- include('partials/header', { Name: "404" }) %>
  <div class="main">
    <div class="bg-circle"></div>
    <div class="bg-circle smaller"></div>
    <h1>Stats</h1>
  <h3>The current number of users is <%= userCount %> </h3>
  <div>
    <a  href="/login" class="button rbtns">Log in</a>
    <a href="/register" class="button lbtns">Signup</a>
  </div>
  </div>