<title>FirstTime</title>
</head>

<body>
  <%- include('partials/header', { Name: "Welcome" }) %>
<div class="main">
  <div class="bg-circle"></div>
  <div class="bg-circle smaller"></div>
  <h1>Have Fun</h1>
<span>
  <h3>Revive the memories of how you met your <span id="friendy-words"><div class="friendy-cover"></div><h3>friends</h3></span> </h3><h3> And the good times you spent together till now</h3>
</span>
<div>
  <a  href="/users/login" class="button rbtns">Log in</a>
  <a href="/users/register" class="button lbtns">Signup</a>
</div>
</div>

<script src="/js/welcome.js"></script>